body {
    background-color: #1a3042;
}

main {
    background-image: url("./../../assets/images/logo-queen.png");
    background-repeat: no-repeat;
    background-position: center;
}

.containerLogin {
	display: flex;
    width: 100%;
    max-width: 420px;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.containerLogin .item {
	flex: 1;
	padding: 10px;
}

.item {
	padding: 0 10px;
	text-align: center;
	font-size: 1.5em;
}

/* .item:first-child {
	padding-top: 20px;
} */