.backHome {
    margin: 5%;
    height: 10%;
    width: 5%;
    color: #ffff;
}

.formWrapper{
        display: flex;
        justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.label {
    width: 100%;
    margin: 5% 5% 5% 0;
    font-size: 30px;
    color: #ffff;
}

.btnLogin {
    margin-top: 2%;
    font-size: 35px;
    height: 75px;
    width: 100%;
    background: #FFF733;
    justify-content: center;
    border-radius: 50px;
}