.container-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-banner{
    display: flex;
    justify-content: center;
}
.banner {
    width: 70%;
    border-radius: 3%;
}
.login{
    display: flex;
    flex-direction: column;
    background-color: #F75B42;
    margin: 5%;
    padding: 4%;
    align-items: center;
    border-radius: 3%;
}
.button-login {
    margin-top: 20%;
}
.register-link{
    background-color: #F75B42;
    margin-top: 5%;
    font-size: 110%;
}
