.backHome {
    margin: 5%;
    height: 10%;
    width: 5%;
    color: #ffff;
}
.msgError{
    color: red;
    font-size: 20px;
}

.formWrapper{
    display: flex;
    justify-content: center;
}

.checkWrapper{
    display: inline-flex;
    justify-content:  space-evenly;
    margin: 2%;
}

.roleWrapper{
    align-items: center;
    justify-content: space-evenly;

}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.label {
    width: 100%;
    margin: 5% 5% 5% 0;
    font-size: 30px;
    color: #ffff;
}

.labelRadio {
    width: 30%;
}

.inputRadio{
   width: 50%;
   margin: 5% 5% 5% 0;

}

.btnRegister {
    margin-top: 2%;
    font-size: 35px;
    height: 75px;
    width: 100%;
    background: #FFF733;
    justify-content: center;
    border-radius: 50px;
}