.container-register {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-banner {
  display: flex;
  justify-content: center;
}

.register {
  display: flex;
  flex-direction: column;
  background-color: #f75b42;
  margin: 1%;
  padding: 4%;
  align-items: center;
  border-radius: 3%;
}

.register-indicator {
  background-color: #f75b42;
  margin-bottom: 10%;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f75b42;
  margin: 5%;
  padding: 4%;
  width: max-content;
}

.error-register {
  margin-bottom: 3%;
  background-color: #f75b42;
  text-decoration-line: underline;
  text-decoration-color: #fef2e4;
  font-size: 17px;
}

.login-link {
  background-color: #f75b42;
  margin-top: 5%;
  font-size: 110%;
  color: black;
}

@media (min-width: 1024px) and (max-width: 2000px) {
  .container-register {
    justify-content: initial;
  }
}
