.container-register {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-banner {
    display: flex;
    justify-content: center;
}

.banner {
    width: 70%;
    border-radius: 3%;
}

.register {
    display: flex;
    flex-direction: column;
    background-color: #F75B42;
    margin: 5%;
    padding: 4%;
    align-items: center;
    border-radius: 3%;
}

.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F75B42;
    margin: 5%;
    padding: 4%;
    width: max-content;
}

.login-link {
    background-color: #F75B42;
    margin-top: 5%;
    font-size: 110%;
    color: black;
}