.btn,.btnStatus,.btnMenu,.btnRegister,.btnLogin{
  background-color: #f2bb16d8;
  cursor: pointer;
  color: white;
  padding: 15px;
  width: 180px;
  border-radius: 10px;
  border: black;
  font-size: 16px;
}
.btnStatus{
  background-color: black;
}

