.DivBtn{
  display: flex;
  justify-content:center;

}
.btn{
  background-color: #F2BB16;
 
  color: white;
  margin-top: 40px;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  border: black;
}