.order-card {
  display: flex;
  flex-direction: column;
  background-color: #f2d6a2;
  padding: 1%;
  margin: 1%;
  width: 25%;
  border-radius: 3%;
}

.order-card li {
  list-style-type: none;
  padding: 1.5%;
  background-color: #f2d6a2;
}

.order-card p {
  background-color: #f2d6a2;
}

.status-brown {
  background-color: #6a2f27;
  color: white;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

.status-blue {
  background-color: #589ebf;
  color: white;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

.status-green {
  background-color: #929f45;
  color: white;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

@media (min-width: 1024px) and (max-width: 2000px) {
  .order-card {
    width: 15%;
  }
}
