.orders {
    display: flex;
    justify-content: space-evenly;
}

.client-infos {
    display: flex;
    justify-content: space-evenly;
}

.client-cart {
    width: 50%;
    justify-content: center;
}

.option {
    background-color: transparent;
    width: max-content;
    font-size: 16px;
    font-weight: bold;
    margin: initial;
    padding: initial;
    border-radius: initial;
    box-shadow: initial;
    border: initial;
    text-align: center;
    cursor: pointer;
}

.option:hover {
    color: #F75B42;
}

.selected {
    background-color: transparent;
    width: max-content;
    font-size: 16px;
    font-weight: bold;
    margin: initial;
    padding: initial;
    border-radius: initial;
    box-shadow: initial;
    border: initial;
    text-align: center;
    cursor: pointer;
    color: red;
}