.orders {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}

.container-products {
    display: flex;
    justify-content: center;
}

.client-infos {
    display: flex;
    justify-content: space-evenly;
    background-color: #F75B42;
}

.section-cart {
    width: 90%;
}

.client-cart {
    padding: 4%;
    margin: 2%;
    border-radius: 20px;
    justify-content: center;
    background-color: #F75B42;
}

.option {
    background-color: transparent;
    width: max-content;
    font-size: 16px;
    font-weight: bold;
    margin: initial;
    padding: initial;
    border-radius: initial;
    box-shadow: initial;
    border: initial;
    text-align: center;
    cursor: pointer;
}

.option:hover {
    color: #F75B42;
}

.selected {
    background-color: transparent;
    width: max-content;
    font-size: 16px;
    font-weight: bold;
    margin: initial;
    padding: initial;
    border-radius: initial;
    box-shadow: initial;
    border: initial;
    text-align: center;
    cursor: pointer;
    color: red;
}