.layoutForm {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.container {
    display: flex;
    background-color: rgba(242, 187, 119, 20%);
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding: 30px;
    margin-top: 35px;
    border-radius: 50px;
    box-shadow: 0px 5px 10px rgb(29 28 28 / 43%);
}

.container >*:not(:last-child){
        margin-bottom: 30px;
    }
