.header-pedidos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logotype {
  width: 9%;
}

.menu {
  display: inline;
  width: 50%;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}
.menu li {
  list-style-type: none;
  width: 40%;
  display: flex;
  justify-content: center;
}

.logout {
  background-color: transparent;
  width: 4%;
  margin: initial;
  padding: initial;
  border-radius: initial;
  box-shadow: initial;
  border: initial;
  text-align: initial;
  cursor: pointer;
}
.logout img {
  width: 100%;
}

.logout img:hover {
  background-color: #f75b42;
  border-radius: 6px;
}

.option {
  background-color: transparent;
  width: max-content;
  font-size: 16px;
  font-weight: bold;
  margin: initial;
  padding: initial;
  border-radius: initial;
  box-shadow: initial;
  border: initial;
  text-align: center;
  cursor: pointer;
}

.selected {
  background-color: transparent;
  width: max-content;
  font-size: 16px;
  font-weight: bold;
  margin: initial;
  padding: initial;
  border-radius: initial;
  box-shadow: initial;
  border: initial;
  text-align: center;
  cursor: pointer;
  color: #f75b42;
}
