@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@200;300;400&family=Slabo+13px&display=swap');

.btnLogin {
    width: 10%;
    height: 10%;
    background: #FFF733;
}

.containerLogo {
    height: auto;
    width: 100%;
}

.logo {
    height: auto;
    width: 100%;
    margin: 20% auto;
}

.btnLogin {
    display: flex;
    margin: auto;
    height: 75px;
    width: 40%;
    background: #FFF733;
    justify-content: center;
    border-radius: 50px;
    font-size: 50px;
}

.noRegister {
    margin-top: 2%;
    width: 100%;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
}

.btnRegister {
    margin-top: 2%;
    background: transparent;
    color: #FFF733;
    font-size: 35px;
    border-bottom: solid 2px #FFF733;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}


@media (max-width: 530px) {

    .btnLogin {
        height: 50px;
        width: 50%;
        font-size: 35px;
    }

    .noRegister,
    .btnRegister {
        font-size: 20px;
    }
}