.LogoImg {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  padding: 5%;
}
@media (min-width: 768px) and (max-width:1024px){
  .LogoImg{
    width: 350px;
    height: 350px;
  }
}
@media(min-width: 1024px) and (max-width:1440px){
  .LogoImg{
    width: 420px;
    height: 420px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 80px;
  }
}
@media(min-width: 1440px) and (max-width:2440px){
  .LogoImg{
    border-radius: 20%;
    width: 520px;
    height: 520px;
  }
}