.footer {
    background-color: #222;
    color: white;
    padding: 3em;
    width: 100%;
}

.social_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social_list li{
    margin: 0 1em;
}

.social_list li:hover {
color: #F5B924;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

