@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Shadows+Into+Light&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #111;
    padding: 1em;
    width: 100%;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
    font-family: Nunito, sans-serif;
    font-size: 18px;
}

.item {
    margin-right: 1em;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: #F5B924;
}

