body{
    background-color: #FFECDC;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
    text-align: center;
}

.App-logo {
    height: 15vmin;
    pointer-events: none;
    margin-top: 100px;
    margin-bottom: 50px;
}
  
.App-header {
    min-height: 100vh;
    color: #400101;
}
  
.App-header p{
    font-size: 30px;
    margin: 0;
}

.infoLogin{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: flex-start;
}

.infoLogin h1{
    padding-bottom: 5px;
}

.formLogin{
    width: 300px;
    margin: 0 auto;
}

.ph-spinner{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.msgError{
    margin-top: 20px;
    color: #D90B1C;
    font-size: 20px;
}

.msgSucesso{
    margin-top: 20px;
    color:#7B9A3B;
    font-size: 20px;
    word-wrap: break-word;
    width: 500px;
    margin: 0 auto;
}