.infoLogin{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: flex-start;
}

.infoLogin h1{
    padding-bottom: 5px;
}

.formLogin{
    width: 300px;
    margin: 0 auto;
}

.ph-spinner{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.msgError{
    margin-top: 20px;
    color: #D90B1C;
    font-size: 20px;
}

.msgSuccess{
    margin-top: 20px;
    color:#7B9A3B;
    font-size: 20px;
}