.container-card {
  display: flex;
  width: 75%;
  background-color: #F2D6A2;
  align-items: center;
  justify-content: space-evenly;
  margin: 2%;
  border-radius: 40px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  padding: 2%;
}

.container-card p {
  background-color: #F2D6A2;
}

.container-card ul {
  width: fit-content;
}

.container-card li {
  list-style-type: none;
}

.add-button{
  background-color: #F2D6A2;
  width: 10%;
  margin: initial;
  padding: 1%;
  border-radius: 100%;
  box-shadow: initial;
  border: black;
  text-align: center;
  cursor: pointer;

}

.plus-icon{
    width: 100%;
    background-color: #F2D6A2;
}

@media (min-width: 1024px) and (max-width: 2000px) {
  .container-card {
    width: 70%;
  justify-content: space-around;
  margin: 1.5%;
  padding: 1%;
  }
}
