.DivCard{
  width: 160px;
  display: flex;
  justify-content: center;
}

.UlCard{
  width: 100%;
  background-color: #9EF277 ;
  border-radius: 10%;
  display: flex;
}
.id{
  visibility: hidden;
}
li{
  list-style-type: none;
}
