@import '../layout/variables.css';

.img_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.thanos_img {
    height: 50%;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'lulaBorgesNegrito';
    font-size: 5rem;
    color: var(--font-color-six);
}