@import '../layout/variables.css';

.container{
    grid: [row1-start] 'h1 h1 h1' 1fr [row1-end]
    [row2-start] 'p p p' 2fr [row2-end]
    [row3-start] 'navbar navbar navbar' 50px [row3-end]
 / auto 50px auto;
 }

.about {
    display: grid;
    grid-template-columns: 500px 500px;
    align-items: center;
    color: #0C0129;
    font-family: 'actionManBold';
}

.title {
    display: grid;
    color: #0C0129;
    font-family: 'lulaBorgesNegrito';
    text-align: center;
}