.DivHeader{
    margin-top: 0%;
    background-color: #ffffff;
    width: 375px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.finn{
    width: 10%;
    border-radius: 60%;
    align-items: center;
}
.title{
    color: #117DBF;
}