.button_enter {
    display: grid;
    background-color: #708c32;
    color: black;
    border: 1px solid #BF1736;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.5s;
    width: 15rem;
    height: 6rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'actionManBold';
    align-items: center;
    justify-self: center;
    font-size: 2rem;
}

.button_enter:hover {
    transform: scale(1.2);
    background-color: #2669BF;
}