.button_enter,
.button_register,
.button_logout {
    display: grid;
    background-color: #708c32;
    color: black;
    border: 1px solid #BF1736;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.5s;
    width: 15rem;
    height: 6rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'actionManBold';
    align-items: center;
    justify-self: center;
    font-size: 2rem;
}

.button_enter:hover,
.button_register:hover,
.button_logout:hover {
    transform: scale(1.2);
    background-color: #2669BF;
}

@media (min-width: 320px) and (max-width: 480px) {
    .button_enter {
        height: 4rem;
        margin-bottom: 12px;
    }

    .button_register {
        height: 3.2rem;
        width: 80%;
        margin-bottom: 2px;
    }
}