@import '../layout/variables.css';

.button_enter,
.button_register,
.button_logout,
.button_status {
    cursor: pointer;
    display: grid;
    background-color: var(--font-color-five);
    color: var(--font-color);
    border: 1px solid var(--font-color-one);
    border-radius: 5px;
    transform: scale(1);
    transition: 0.5s;
    width: 15rem;
    height: 6rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'actionManBold';
    align-items: center;
    justify-self: center;
    font-size: 2rem;
}

.button_enter:hover,
.button_register:hover,
.button_logout:hover,
.button_status:hover {
    transform: scale(1.2);
    background-color: var(--font-color-two);
}

.button_logout {
    cursor: pointer;
    position: relative;
    left: 200%;
}

.button_add {
    cursor: pointer;
    border-radius: 3px;
    transform: scale(1);
    transition: 0.5s;
    width: 15rem;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'actionManBold';
    font-size: 2rem;
    align-items: center;
    justify-self: center;
    background-color: var(--font-color-one);
}

.hall_attendance_menu {
    font-size: 2rem;
    font-family: 'lulaBorgesNegrito';
    padding: 10px;
    margin: 0 15px;
    background-color: var(--font-color-four);
    box-shadow: 0px 4.8px 4.8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.hall_attendance_menu:hover {
    background-color: #ebc887;
}

.button_finalize {
    cursor: pointer;
    background-color: var(--font-color-one);
    color: var(--font-color);
    border: 1px solid var(--font-color-one);
    border-radius: 5px;
    transform: scale(1);
    transition: 0.5s;
    width: 15rem;
    height: 6rem;
    margin-top: 20px;
    font-family: 'actionManBold';
    font-size: 2rem;
}

.button_finalize:hover {
    transform: scale(1.2);
    background-color: var(--font-color-two);
}

.button_qtd {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 0 5px 0 5px;
    font-weight: bold;
    font-size: 1.5rem;
}

@media (min-width: 320px) and (max-width: 480px) {
    .button_enter {
        height: 4rem;
        margin-bottom: 12px;
    }

    .button_register {
        height: 3.2rem;
        width: 80%;
        margin-bottom: 2px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .button_logout {
        left: 100%;
    }
}