@import '../layout/variables.css';

.main {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
}

.form_title {
    margin-top: 5%;
    grid-column-start: span 5;
    color: #0C0129;
    font-family: 'lulaBorgesNegrito';
    text-align: center;
    font-size: 5rem;
}

.form {
    display: grid;
    background-color: #6CA6D9;
    border: 2px solid #BF1736;
    border-radius: 10px;
    grid-column: 4;
    grid-row-end: 3;
    justify-content: space-around;
    height: 350px;
    padding: 60px;
    margin-bottom: 80%;
    padding-top: 15%;
    margin-top: 20%;
}

.button_select {
    background-color: #F2C1B6;
    border-radius: 10px;
    border: 1px solid #BF1736;
    height: 30px;
    width: 150px;
    justify-self: center;
    cursor: pointer;
    font-family: 'lulaBorgesNegrito';
    font-size: 2rem;
}

.button_select:hover {
    background-color: #BF1736;
}

.navigation {
    color: #0C0129;
    align-items: center;
    justify-self: center;
    font-size: 2rem;
}

option {
    font-size: 1.5rem;
}

.show_errors {
    width: 30rem;
    display: flex;
    height: 1rem;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .form {
        grid-row-start: 2;
        height: 350px;
        width: 200px;
        margin-top: 70%;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .form_title {
        font-size: 2rem;
        height: 30px;
    }

    .form {
        grid-column: 2 /span 3;
        grid-row-start: 3;
        height: 200%;
        padding-top: 7%;
    }

    .button_select {
        height: 90%;
        font-size: 2rem;
        width: 70%;
    }

    option {
        font-size: 1.5rem;
    }

    .navigation {
        padding-top: 5%;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .form_title {
        font-size: 2rem;
        height: 30px;
    }

    .form {
        height: 390%;
        width: 180%;
        margin-top: 5%;
        padding: 2%;
    }

    .button_select {
        height: 90%;
        font-size: 2rem;
        width: 70%;
    }

    option {
        font-size: 1.5rem
    }
}