@import '../layout/variables.css';

.header {
    display: flex;
    align-items: center;
    margin-top: 0%;
    width: 100%;
    height: 100px;
    gap: 50px;
    justify-content: center;
}

.header_logo {
    width: 20rem;
}

.header_title {
    font-size: 5rem;
    color: var(--font-color-six);
    font-family: 'lulaBorgesNegrito';
    align-items: center
}

@media (min-width: 320px) and (max-width: 479px) {
    .header {
        display: flex;
        align-items: center;
        margin-top: 0%;
        width: 100%;
        height: 100px;
        gap: 50px;
        justify-content: center;
    }
}