@import '../layout/variables.css';

.input,
.input_register,
.input_search,
.input_name_client,
.input_number_table {
    border-radius: 10px;
    border: 1px solid #BF1736;
    background-color: #D99E30;
    padding: 12px;
    margin: 5px;
    font-size: 2rem;
}

.input::placeholder,
.input_register::placeholder,
.input_search::placeholder,
.input_name_client::placeholder,
.input_number_table::placeholder {
    color: black;
    font-family: 'actionManBold';
}

.input_name_client,
.input_number_table {
    padding: 8px; 
}

.input_search {
    padding: 12px;
    margin: 10px;
}


@media (min-width: 320px) and (max-width: 479px) {
    .input {
        padding: 6%;
    }

    .input_register {
        padding: 2%;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .input,
    .input_register {
        padding: 8px;
        margin-left: 2%;
        margin-bottom: 1%;
    }
}