@import '../layout/variables.css';

.navbar {
    display: grid;
    background-color: var(--font-color-three);
    border: 2px solid var(--font-color-one);
    border-radius: 10px;
    grid-column: 4;
    grid-row-end: 3;
    justify-content: space-around;
    align-items: center;
    height: 250%;
    padding: 60px;
    margin-bottom: 80%;
}

.list {
    margin-right: 10px;
}

.list a {
    display: grid;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--font-color-four);
    border: 1px solid var(--font-color-one);
    border-radius: 5px;
    font-family: 'actionManBold';
    font-size: 2rem;
    transform: scale(1);
    transition: 0.5s;
    width: 20rem;
    padding: 7%;
}

.list a:hover {
    transform: scale(1.2);
    background-color: var(--font-color-two);
}

.item {
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-content: center;
    margin-right: 80%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        grid-row-start: 3;
        height: 300px;
        width: 200px;
    }

    .item {
        margin-top: 17px;

    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .navbar {
        grid-column: 2 /span 3;
        grid-row-end: 5;
        height: 150px;
        padding-top: 11%;
        padding-left: 35%;
    }

    .list a {
        padding: 5%
    }

    .item {
        height: 30px;
        margin-bottom: 2px;
        margin-top: 2px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .navbar {
        height: 300%;
        padding-top: 1%;
        width: 180px;
    }

    .list a {
        width: 20rem;
        height: 10%;
        padding: 5%;
    }

    .item {
        margin-top: 20px;
    }
}