@import '../layout/variables.css';

.navbar {
    display: grid;
    background-color: #6CA6D9;
    border: 2px solid #BF1736;
    border-radius: 10px;
    grid-column: 4;
    grid-row-end: 3;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    padding: 60px;
    margin-bottom: 80%;
    padding-top: 15%;
    margin-top: 20%;
}

.list {
    margin-right: 10px;
}

.list a {
    display: grid;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    color: black;
    background-color: #D99E30;
    border: 1px solid #BF1736;
    border-radius: 5px;
    font-family: 'actionManBold';
    font-size: 2rem;
    transform: scale(1);
    transition: 0.5s;
    width: 20rem;
    padding: 7%;
}

.list a:hover {
    transform: scale(1.2);
    background-color: #2669BF;
}

.item {
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-content: center;
    margin-right: 80%;
}