@import '../layout/variables.css';

.nav_status {
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style: none;
    background-color: #2669BF;
    padding: 10px;
}

.nav_link {
    color: black;
    text-decoration: none;
    font-family: 'lulaBorgesNegrito';
    font-size: 2rem;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.nav_link:hover {
    background-color: #91CDF2;
}