@import '../layout/variables.css';

.name_card,
.price_card,
.complement_card {
    font-family: 'actionManBold';
    font-size: 2rem;
}

.name_card {
    margin-top: 10%;
    text-align: center;
    margin: 10%;
}

.card {
    background-color: var(--font-color-seven);
    height: 90%;
    width: 20rem;
    border-radius: 20px;
    margin: 10px 10px 10px 0px;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4.8px 4.8px rgba(0, 0, 0, 0.25);
}

.img_card {
    width: 8rem;
    height: 6rem;
}

.complement {
    display: grid;
}

.price_card {
    margin: 10px 0 10px 0;
}