.input{
    height: 30%;
    width: 100%;
    font-size: 20px; 
    color: #ffff;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #FFF733;
    margin: 0;
}
