footer .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 15px;
}
.footer a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.footer p {
  text-align: center;
}
