footer .footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 15px;
}
.footer a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.footer p {
  text-align: center;
}

@media (min-width: 1024px) and (max-width: 2000px) {
  footer .footer {
    position:inherit;
  }
}
