.DivPurchaseOrder{
<<<<<<< HEAD
    width: 310px;
    height: 110px;
    background-color:#04B2D9;
=======
  width: 310px;
  height: 110px;
  background-color:#04B2D9;
>>>>>>> 9fe1a3fc14a7a82d5f884cd98027cb5c97a316eb
}