.conteudo-admin{
    text-align: center;
    display: flex;
}

.interno-admin {
    flex-grow: 1;
}

.menu-admin{
    width: 200px;
    margin: 0; 
    padding: 0;
    float: left;
    min-height: 100vh;
    background: #400101;
}

.menu-admin ul li{
    margin: 0; padding: 0px;
	border-bottom: 1px solid #F2AB27;
	text-align: center;
	list-style-type: none;
}

.menu-admin a:link{
    background: #400101;
	color: #FFECDC;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	display: block;
}

.menu-admin a:visited {
    color: #FFECDC;
}

.menu-admin a:hover{
    background: #FFECDC;
    color: #400101;
    text-decoration: none;
    border: 3px solid #F2AB27;
}

.menu-admin a:active {
    background: #FFECDC;
    color: #400101;
    text-decoration: none;
    border: 3px solid #F2AB27;
}

.menu-admin p{
    color: #FFECDC;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
}