* {
    margin: 0;
    padding: 0;
}

.background {
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    display: table;
    width: 100%;
    height: 100%;
    background-position: 30% 45%;
    background-size: cover;
}

.root{
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
}