body {
  margin: 0;
  padding: 0;
  background: #11b4d9;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
} 
.DivForm {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DivRole{
  display: flex;
  padding: 8%;
}
a {
  font-size: 18px;
}
a.Hiperlink {
  color: white;
  cursor: pointer;
  margin-top: 20%;
}
.InfoClient{
  display: flex;
  justify-content: space-around;
}
.sectionCard{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.sectionOrder{
  background-color: aliceblue;
  border-radius: 1px;
}
#cancel, #confirm{
  color: #ffffff;
  padding: 15px;
  width: 150px;
  border: black;
  font-size: 16px;
  border-radius: 10px;
  margin:5%;
}
#cancel{
  background-color: #FC0C0C;
}
#confirm{
  background-color:#16AB1C;
}
.logout{
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
@media (min-width: 768) and (max-width:1024px){
  .DivForm{
    margin-top: 250%;
  }
}
@media(min-width: 1024px) and (max-width:1440px) {
  .DivForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 91px;
    align-content: center;
    flex-wrap: nowrap;
    margin-top: 8%;
  }
  .DivForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sectionCard{
    margin-bottom: 5%;
  }
}
@media(min-width: 1440px) and (max-width:2440px) {
  .DivForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 91px;
    align-content: center;
    flex-wrap: nowrap;
    margin-top: 8%;
  }
  .DivForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}