* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-size: 6px;
}

.background {
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    display: table;
    width: 100%;
    height: 100%;
    background-position: 30% 45%;
    background-size: cover;
}

.root {
    display: grid;
    grid-template-rows: 95vh 5vh;
    grid-template-columns: 1fr;
}