.DivTemplateKitchen{
    width: 260px;
    height: 290px;
    display: flex;
    justify-content: center;
}
.UlTemplateKitchen{
    background-color: #F2A922;
    width: 100%;
    border: 2px solid black;
    border-radius: 10%;;
}