@import '../layout/variables.css';

.footer {
    font-family: 'lulaBorgesNegrito';
    background-color: #D99E30;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: stretch;
    align-self: end;
    text-align: center;
    grid-template-areas: 'footer footer footer footer';
}

.ecoText {
    font-size: 1.85rem;
}

.developers {
    text-align: center;
    font-size: 1.85rem;
}

.devNames {
    text-decoration: none;
    font-size: 1.85rem;
}

.iconImage {
    margin-bottom: -0.2%;
}